name: Main Checks

on:
  push:
    branches:
      - main
      - "v*.*.*"
    tags:
      - "v*.*.*"

jobs:
  checks:
    uses: ./.github/workflows/checks.yml
    # All jobs in called workflow will run on self-hosted runner
